@font-face {
    font-family: font;
    src: url(Poppins-Medium.ttf);

}
@font-face {
    font-family: crush;
    src: url(jupiterc.ttf);
}
*{
    font-family: font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
        background: linear-gradient(
            to left,
            black,
            #0f370f
        );
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #149414;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
}
.navigation a {
    color: #149414;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}
.navigation a:hover{
    color: #0e6b0e;
    text-decoration: underline;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(f.jpg) no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color: rgb(255, 255, 255);
    
    font-size: 1.5em;
    font-weight: 700;
    
}
.main h2 span {
    display: inline-block;
    width: 200px;
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 70px;
    font-family: crush;
}
.main h3{
    margin-top: 10px;
    margin-bottom: 30px;
   color: #dddbdb; 
   font-size: 2em;
   font-weight: 700;
   letter-spacing: 1px;
}
.main_button{
    color: white;
    background-color: rgb(9, 44, 9);
    text-decoration:none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 1000px;
    margin-bottom: 40px;
    transition:  background-color 0.7s;
    transition: 0.7s ease;
    
}
    
.main_button:hover{
    background-color: rgb(5, 20, 5);
    transform: scale(1.1);
}
.social a{
    color: rgb(62, 6, 62);
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.7s ease;

}
.social a :hover{
    transform: scale(1.1);
}
.title{
    display: flex;
    justify-content: center;
    color: #149414;
    font-size: 2.2em;
    font-weight: 900;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #149414;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}

.info h3{
    color: #149414;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.title2{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 900;
    margin-bottom: 30px;

}
.projects{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(g.jpg) no-repeat;
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
.projects.content{
    margin-top: 30px;
}
.pro-card{
    background-color: white;
    border: 3px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;

}
.pro-card:hover{
    transform: scale(1.1);
}

.pro-card:hover .pro-img{
    opacity: 0.9;
}
.pro-img img{
    width: 100%;
}
.pro-info{
    padding: 1em;
}
.pro-cat{
    font-size: 0.8em;
    color: black;
}
.pro-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top:10px ;
}
.more{
    text-decoration: none;
    color: #149414;

}
.more:hover{
    color: #0e6b0e;
}
.contact.icon{
    font-size: 4.5em;
}
.footer{
    background-color: #0e6b0e;
    color: #ffffff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-text{
    font-size: 1.3em;
    font-weight: 800;

}
.footer-text span{
    color: rgb(62, 6, 62);
}
.footer .social a{
    color: white;
    font-size: 1.3em;
}
@media(max-width :1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
       font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}